---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Education from '../components/Education.astro';
import Experience from '../components/Experience.astro';

import '../styles/global.css';
---

<Layout>
	<div class="grid grid-cols-2">
		<Heading />
		<Contact />
	</div>
	<div class="grid grid-cols-2">
		<Projects />
		<div>
			<Skills />
			<Education />
		</div>
	</div>
	<Experience />
</Layout>
