---
import Section from '../Section.astro'
import Card from '../Card.astro'

interface Education {
	degree: string
	school: string
	year: string
	gpa: string
}

const education: Education[] = [
	{
		degree: 'Graduate Certificate of Computer Science',
		school: 'Monash University',
		year: '2025 (Expected)',
		gpa: ''
	},
	{
		degree: 'Diploma of Information Technology',
		school: 'AIT - Coder Academy',
		year: '2024',
		gpa: 'High Distinction - 4.0'
	}
]
---

<Section title='Education'>
	{
		education.map((edu) => (
			<Card heading={edu.degree} subheading={edu.school} date={edu.year}>
				<p class='text-muted-foreground'>{edu.gpa}</p>
			</Card>
		))
	}
</Section>
