---
import Section from '../Section.astro'
---

<Section title='About'>
	<p class='text-muted-foreground'>
		Driven junior developer with a focus on creating scalable, reliable applications. Skilled in
		both front-end and back-end development. Known for a proactive approach to problem-solving and a
		commitment to continuous learning. Seeking to contribute to innovative projects in a
		collaborative team setting.
	</p>
</Section>
