---
import Section from '../Section.astro'
import Card from '../Card.astro'

interface Certification {
	title: string
	description: string
	link: string
}

const certifications: Certification[] = [
	{
		title: '4x Salesforce Certified',
		description:
			'Administrator, Platform App Builder, User Experience (UX) Designer, Business Analyst',
		link: 'https://trailblazer.me/id/xandersalathe'
	},
	{
		title: 'Professional Scrum Master I',
		description: '',
		link: 'https://www.credly.com/badges/ab7a7971-dd32-4986-897b-c6f2133a800d'
	}
]
---

<Section title='Certifications'>
	{
		certifications.map((cert) => (
			<Card heading={cert.title} as='a' href={cert.link}>
				<p class='text-muted-foreground'> {cert.description}</p>
			</Card>
		))
	}
</Section>
